.root {
    & > button {
        display: flex;
        align-items: center;
        color: white;
    }

    & svg {
        font-size: 0.95rem;
        margin-left: 0.25rem;
        transition: 150ms;
    }
}

.popover {
    display: flex;
    flex-flow: column;
    padding: 0.5rem 0;
    min-width: 100px;

    & > * {
        font-weight: 400 !important;
        text-transform: capitalize !important;

        & > span:first-of-type {
            display: flex;
            justify-content: flex-start;
            text-align: start !important;
        }
    }
}
