.root {
    grid-area: products;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    justify-items: center;
    row-gap: 1rem;
    column-gap: 0.5rem;
    height: fit-content;
}

@media (max-width: 540px) {
    .root {
        grid-template-columns: 1fr;

        & > li {
            width: 100%;
        }
    }
}
