.root {
    display: block;

    & > input {
        padding: 0.25rem;
        cursor: pointer;
    }

    & > label {
        font-size: 0.85rem;
        padding-left: 0.5rem;
        font-weight: 500;
        color: #2e425a;
        cursor: pointer;
    }
}
