.root {
    border: 2px solid #e3f4fd;
    background-color: #f7fcff;
    overflow: hidden;
    margin-bottom: 3rem;
    position: relative;
    min-height: 18rem;
    border-radius: 4px;

    & > ul {
        display: flex;
        padding: 1rem 1rem 0.5rem 1rem;
        flex-wrap: nowrap;
        width: max-content;
    }

    & > button {
        border: none;
        background-color: rgba(255, 255, 255, 0.411);
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 0;

        &:first-of-type {
            left: 0;
        }
        &:last-of-type {
            right: 0;
        }

        & > svg {
            font-size: 3rem;
            color: #2e425a;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

@media (max-width: 540px) {
    .root {
        & > button {
            & > svg {
                font-size: 2.5rem;
            }
        }
    }
}
