.root {
    margin-bottom: 1rem;

    & > div {
        padding: 0.75rem 0.75rem 0 0.75rem !important;

        & > h6 {
            position: relative;

            display: flex;
            align-items: center;

            & > button {
                position: absolute;

                right: 0;

                padding: 0.25rem;
                margin-bottom: 0.1rem;

                opacity: 0.9;

                & svg {
                    color: rgba(0, 0, 0, 0.87) !important;

                    transition: 125ms;

                    font-size: 1.1rem;
                }
            }
        }
    }

    & > ul {
        margin: 0.2rem 0 0.5rem 1.5rem;

        & > label {
            display: flex;
            align-items: center;

            & > span {
                font-size: 0.9rem;
                padding: 0.25rem !important;
            }
        }
    }
}
