.root {
    width: 15rem;
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column;
    border: none !important;

    & img {
        padding: 0.5rem;
    }
}

.actionArea {
    flex-grow: 1;

    &:hover {
        a {
            text-decoration: underline;
        }
    }
}

.content {
    padding-bottom: 1rem !important;

    & p {
        flex-grow: 0.6;
    }
}

.actions {
    & > div {
        & > h6 {
            font-size: 1.2rem !important;
            margin-left: 0.5rem;
        }

        & > button {
            padding: 6px 8px !important;
        }
    }
}
