.header {
    padding: 1.1rem 0.5rem 1rem 1rem;
    background-color: #1e88e5;

    & > a {
        color: white !important;
    }

    & svg {
        color: white;
    }
}

.root {
    width: 80vw;

    max-width: 300px;
    min-width: 200px;

    padding: 1rem;

    & > div {
        margin-bottom: 1rem;
    }
}

.close {
    font-size: 1.3rem;
}

@media (max-height: 655px) {
    .root {
        overflow-x: scroll;
    }
}
