.root {
    width: 100%;

    padding: 1rem;

    & > div:first-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & > div {
        width: 250px;
        margin-bottom: 1rem;
    }
}

.close {
    font-size: 1.3rem;
}

@media (max-height: 655px) {
    .root {
        overflow-x: scroll;
    }
}
