.root {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 20rem;
    width: 80%;
    height: 100%;
    background-color: white;
    padding: 1rem;
    transition: 0.2s;

    & > button {
        font-size: 1.4rem;
        float: right;
        background-color: transparent;
        border: none;

        & > svg {
            color: #2e425a;
        }
    }
}

.open {
    transform: translate(-100%);
}
