.root {
    width: 100%;
    margin-bottom: 4rem;
    border-bottom: none !important;

    & h6 {
        width: fit-content !important;
    }

    & tr:nth-child(odd) {
        background: rgba(30, 136, 229, 0.06) !important;
    }

    & tr {
        & td:first-of-type {
            width: 15% !important;
        }

        & td:last-of-type {
            width: 85% !important;
        }
    }

    & svg {
        font-size: 1.2rem;
    }
}

@media (max-width: 1400px) {
    .root {
        & tr {
            & td:first-of-type {
                width: 25% !important;
            }

            & td:last-of-type {
                width: 75% !important;
            }
        }
    }
}

@media (max-width: 800px) {
    .root {
        margin-bottom: 1rem;
        & tr {
            & td:first-of-type {
                width: 0% !important;
                position: relative;
                padding: 0 0 0 1rem !important;

                & h6 {
                    position: absolute;
                    white-space: nowrap;
                    top: 1rem;
                }
            }

            & td:last-of-type {
                padding-top: 2.5rem;
                padding-left: 0;
                width: 100% !important;
            }
        }
    }
}
