.root {
    width: 100%;
    border: 1px solid #e3f4fd;
    text-align: left;
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 4rem;
    border-radius: 4px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #e3f4fd;

    & tr {
        box-shadow: 0 0 0 1px #e3f4fd;
    }

    & tr:nth-child(odd) {
        background-color: #f7fcff;
        box-shadow: 0 0 0 1px #e3f4fd;
    }

    & th,
    & td {
        padding: 0.75rem 1rem;
        color: #2e425a;
        font-size: 0.9rem;
    }

    & th {
        text-align: left;
        width: 15%;
    }

    & td {
        font-weight: 700;
        font-size: 0.8rem;
    }

    & svg {
        font-size: 1.2rem;
    }
}

@media (max-width: 1100px) {
    .root th {
        width: 20%;
    }
}

@media (max-width: 750px) {
    .root {
        & td {
            padding-top: 2.5rem;
        }

        & th {
            white-space: nowrap;

            position: absolute;
            left: 1rem;
        }
    }
}
