.root {
    display: grid;
    grid-template-columns: auto 23rem;
    column-gap: 3.3rem;
    row-gap: 1.3rem;

    grid-template-areas:
        'header header'
        'products side';

    margin-bottom: 1rem;

    & > ul {
        grid-area: products;

        & > div {
            margin-bottom: 0.75rem;
        }
    }

    & > div:last-of-type {
        grid-area: side;
    }
}

@media (max-width: 1200px) {
    .root {
        grid-template-columns: auto;

        grid-template-areas:
            'header '
            'side'
            'products ';
    }
}

@media (max-width: 800px) {
    .root {
        row-gap: 1rem;
    }
}
