.root {
    width: 20rem;
    height: 8rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    background-color: white;
    border-radius: 4px;

    & a {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
    }

    & div {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 0.5rem;
    }

    & p {
        font-weight: 500;
        color: #2d86ff;
    }

    & h4 {
        color: #2e425a;
    }

    & img {
        height: 100%;
    }
}

@media (max-width: 390px) {
    .root {
        width: 16rem;
        height: 9rem;
        font-size: 0.9rem;

        & img {
            height: 70%;
        }
    }
}
