.root {
    grid-area: checkout-form;
    padding: 2rem;

    & > button {
        margin-top: 1.7rem;
    }
}

.error {
    position: absolute;
    margin-left: 0.5rem;
}

@media (max-width: 380px) {
    .root {
        padding: 2rem 1.5rem;
    }
}
