.root {
    max-width: 20rem;
    width: 100% !important;
    & .price {
        padding: 2rem 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        & > h6 {
            font-size: 2rem;
        }
    }

    & .shipping {
        padding: 2rem 1.75rem;
        display: grid;
        grid-template-columns: 2.5rem auto;
        grid-template-areas: 'check  heading' 'check sub';

        & svg {
            color: #5dbf39;
            font-size: 2rem;

            grid-area: check;

            align-self: center;
        }

        & h6 {
            color: #5dbf39;

            grid-area: heading;
        }

        & span {
            grid-area: sub;
        }
    }
    & .action {
        padding: 1rem 1.5rem 1.5rem;

        & > div {
            display: flex;
            align-items: center;
            margin-bottom: 0.25rem;

            & > button {
                padding: 0.5rem;

                & svg {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .root {
        margin-top: 1rem;
        width: 80%;
        max-width: none;
    }
}

@media (max-width: 600px) {
    .root {
        width: 90%;

        & .price p {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 540px) {
    .root {
        width: 90%;

        & .price p {
            font-size: 1.6rem;
        }
    }
}
