.root {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 20rem;
    width: 100%;
    z-index: 800;

    & svg:first-of-type {
        font-weight: 500;
        font-size: 1.25rem;
        margin-right: 0.25rem;
        color: #2e425a;
        position: absolute;
        left: 0.5rem;
    }
    & input {
        font-weight: 500;
        font-size: 1rem;
        border: none;
        outline: none;
        color: #2e425a;
        padding: 0.5rem 0 0.5rem 2rem;
        border-radius: 4px;
        max-width: 20rem;
        width: 100%;
        border: 2px solid transparent;

        &::placeholder {
            color: #2e425a;
            opacity: 0.8;
            font-weight: 500;
        }

        &:focus {
            background-color: #eef5f8;
            border: 2px solid #e3f4fd;

            // background-color: #f7fcff;
        }
    }

    & ul {
        position: absolute;
        display: flex;
        flex-flow: column;
        top: 100%;
        left: 0;
        right: 0;
        border-radius: 4px;
    }
}

.allProducts {
    height: 2.5rem;
    margin: 0;
    border: 1px solid #e3f4fd;
    background-color: #f7fcff;

    border-radius: 4px;

    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        font-weight: 500;
        height: 100%;
        color: #2e425a;
    }
}

.spinner {
    position: absolute;
    left: 90%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 0.8s infinite linear;
    animation: load8 0.8s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 390px) {
    .allProducts {
        & a {
            font-size: 0.85rem;
        }
    }
}
