.root {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 23rem;
    width: 100%;

    & > div {
        max-width: 23rem;
        width: 100%;
    }

    & svg {
        color: white;
    }

    & svg:first-of-type {
        font-weight: 500;
        font-size: 1.25rem;
        margin-right: 0.5rem;
        left: 0.75rem;
        position: absolute;
    }
    & input {
        border-radius: 4px;
        color: white;
        background-color: rgba(255, 255, 255, 0.15);
        padding: 0.75rem 0.5rem 0.75rem 2.75rem;

        &::placeholder {
            color: white;
            opacity: 0.8;
        }
    }

    & ul {
        position: absolute;
        display: flex;
        flex-flow: column;
        top: 100%;
        left: 0;
        right: 0;
        border-radius: 4px;
        z-index: 1400;

        & > div {
            border: none !important;
        }

        & > li {
            & > div {
                border: none !important;
            }
        }
    }
}

.allProducts {
    padding: 0.75rem !important;

    text-align: center;
}

.backdrop {
    z-index: 1300 !important;
}

.spinner {
    position: absolute;
    left: 90%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 0.8s infinite linear;
    animation: load8 0.8s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 390px) {
    .allProducts {
        & a {
            font-size: 0.85rem;
        }
    }
}
