.root {
    grid-area: filters;
    & > ul {
        & > li {
            margin-bottom: 1.25rem;
            & > ul {
                & > li {
                    padding: 0.1rem;
                }
            }
        }
    }
}

.Checkbox {
    display: block;
}
