.root {
    display: flex;
    flex-direction: column;
    max-width: 26rem;
    padding: 0;
    margin: 2rem auto 0;

    & > button {
        margin-top: 1.5rem;
    }

    & > p {
        margin-top: 1.5rem;
        margin-bottom: 0;
        text-align: center;

        & > a {
            margin-left: 0.2rem;
            display: inline;
        }
    }
}

.error {
    margin-top: 0.65rem;
}

.inputError {
    position: absolute;
}

@media (max-width: 540px) {
    .root {
        padding: 0;
    }
}

.Input {
    margin-top: 1.5rem !important;
    background: white;
}
