.root {
    display: grid;
    grid-template-columns: auto 23rem;
    column-gap: 4rem;

    grid-template-areas:
        'header header'
        'shipping-address-label card-information'
        'shipping-address side';

    margin-bottom: 1rem;

    & > div:first-of-type {
        margin: 2rem 0 2rem;
    }

    & > .shippingAddressLabel {
        grid-area: shipping-address-label;
    }

    & > .cardInformation {
        grid-area: card-information;
    }

    & > div:last-of-type {
        grid-area: shipping-address;
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem 2rem;
        height: fit-content;

        & > button {
            margin-top: 1rem;
            margin-left: 1.5rem;
            max-width: 15rem;
        }
    }

    & > section {
        grid-area: side;

        & > form {
            grid-area: form;
        }
    }
}

@media (max-width: 800px) {
    .root {
        display: grid;
        grid-template-columns: auto;

        grid-template-areas:
            'header'
            'shipping-address-label '
            'shipping-address'
            'side';

        & > section {
            display: grid;
            grid-template-columns: auto;

            grid-template-areas:
                'order-label'
                'products'
                'form';

            & > ul {
                margin-bottom: 2.3rem;
            }
        }
    }
}

@media (max-width: 380px) {
    .root {
        & > div {
            padding: 1rem;

            & > input {
                width: 100%;
            }
        }
    }
}
