.root {
    display: grid;
    grid-template-columns: auto 23rem;
    column-gap: 3.3rem;

    grid-template-areas:
        'header header'
        'shipping-address-label card-information'
        'shipping-address side';

    margin-bottom: 1rem;

    & > .shippingAddressLabel {
        grid-area: shipping-address-label;
    }

    & > .cardInformation {
        grid-area: card-information;
    }

    & > div:last-of-type {
        grid-area: shipping-address;
        display: flex;
        flex-direction: column;
        padding-bottom: 0.5rem;
        height: fit-content;
        & > div {
            max-width: 16rem;
            padding: 0.5rem 1.5rem 1rem;
        }
    }

    & > section {
        grid-area: side;

        & > form {
            grid-area: form;
        }
    }
}

@media (max-width: 800px) {
    .root {
        display: grid;
        grid-template-columns: auto;

        grid-template-areas:
            'header'
            'shipping-address-label '
            'shipping-address'
            'card-information'
            'side';

        & h6 {
            margin-top: 1rem !important;
        }

        & > div:last-of-type {
            & > div {
                max-width: none;
            }
        }

        & > section {
            & > ul {
                margin-bottom: 2.3rem;
            }
        }
    }
}
