.root {
    padding: 0.75rem 0 0.4rem 0;
    border: 2px solid #e3f4fd;
    background-color: #f7fcff;
    border-radius: 4px;

    & > div:first-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.25rem;
        padding: 0 0 0 1rem;
        & > p {
            color: #2e425a;
            font-size: 0.9rem;
            font-weight: 500;
        }

        & > button {
            border: none;
            padding: 0 1rem;
            margin: 0;
            background-color: transparent;

            & > svg {
                color: #2e425a;
                margin-top: 0.1rem;
                transition: 100ms;
                font-size: 1rem;
            }
        }
    }

    & > .Content {
        padding: 0.5rem 1rem 0.75rem;
        display: flex;
        flex-flow: column;

        & > button {
            margin-top: 0.5rem;
        }
    }
}

.Slider {
    box-sizing: border-box;
    margin-bottom: 0.5rem;

    width: 90% !important;
    margin: 0 auto !important;
}
