.root {
    height: 8rem;
    padding-bottom: 0.75rem !important;
    width: 100% !important;

    & > a {
        display: flex;
        align-items: center;
        height: 100%;

        & > img {
            max-width: 40%;
            max-height: 7rem;
            object-fit: cover;
        }

        & > div {
            flex-grow: 1;
            height: 100%;
            padding-left: 0.5rem;
            padding-top: 0.5rem;

            & > h6 {
                align-self: flex-end;
                margin-right: 0.2rem;
                font-size: 1.2rem !important;
            }
        }
    }
}

@media (max-width: 430px) {
    .root p {
        font-size: 0.9rem;
    }
}
