.root {
    max-width: 25rem;

    padding: 2rem;

    & > button {
        margin-top: 1.5rem !important;
    }

    & h5 {
        margin-bottom: 1rem;
    }

    & > .actions {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
}

.Input {
    background: white;
    margin-top: 1.5rem !important;
}

@media (max-width: 800px) {
    .root {
        padding: 1rem !important;
        margin: auto;

        & h5 {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }

        & > .actions {
            margin-top: 1rem;
            gap: 1rem;
        }

        .Input {
            margin-top: 1rem !important;
        }
    }
}
