.root {
    border: none;
    background-color: rgba(255, 255, 255, 0.411);
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    z-index: 100;

    & > svg {
        font-size: 3rem;
        color: #2e425a;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
