.root {
    grid-area: header !important;
    margin: 2rem 0;

    & > div {
        display: flex;
        align-items: center;

        padding: 1rem !important;

        & > h6 {
            margin-top: 0.1rem;

            &::first-letter {
                text-transform: capitalize;
            }
        }

        & > p {
            margin-top: 0.3rem;
            margin-left: 0.25rem;
        }
    }
}

@media (max-width: 540px) {
    .root {
        margin: 0;
    }
}
