.root {
    grid-area: header !important;
    margin: 2rem 0;

    & > div {
        display: flex;
        align-items: center;

        padding: 1rem !important;

        & > h5 {
            margin-top: 0.2rem;
            margin-left: 0.25rem;
        }
    }
}

@media (max-width: 960px) {
    .root {
        & h6 {
            margin-top: 0.2rem;
            margin-left: 0.25rem;
        }
    }
}

@media (max-width: 800px) {
    .root {
        margin: 0 !important;
    }
}

@media (max-width: 540px) {
    .root {
        margin: 0;
    }
}
