.root {
    display: grid;
    grid-template-columns: 220px auto;
    column-gap: 0.5rem;

    grid-template-areas:
        'filters products'
        'filters pagination';
}

@media (max-width: 800px) {
    .root {
        grid-template-columns: 1fr;
        grid-template-areas:
            'filters'
            'products'
            'pagination';
        gap: 1rem;
    }
}
