.root {
    max-height: 6rem;
    display: flex;
    align-items: center;
    padding: 1rem;

    & > .main {
        display: flex;
        align-items: center;
        width: 100%;
        flex-grow: 1;

        & > img {
            width: 5rem;
            height: 4rem;
        }

        & > a,
        .computer {
            flex-grow: 1;
            text-align: start !important;
        }

        & > .computer {
            font-size: 1rem;
        }
    }

    & > .actionArea {
        display: flex;
        align-items: center;
        margin-top: 0.2rem;

        & > h6 {
            font-size: 1rem;
        }

        & > div {
            display: flex;
            align-items: center;
            margin: 0 1rem;

            & > button {
                padding: 0.5rem;
                & svg {
                    font-size: 1rem;
                }
            }

            & > h6 {
                margin-top: 0.1rem;
            }
        }
    }
}

@media (max-width: 550px) {
    .root {
        flex-direction: column;
        max-height: 11rem;
        height: fit-content;
        width: 100%;

        & > div {
            width: 90%;
            margin: auto;
            padding: 1rem 1rem 0 1rem;
            display: flex;
            justify-content: space-evenly;
        }
    }
}
